.table-container {
    margin: 20px;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.custom-table th,
.custom-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.custom-table th {
    background-color: #1f2a40;
    color: white;
}

.table-cell {
    background-color: #1f2a40;
    color: white;
}
.th_block {
    display: flex;
    justify-content: space-between;
}
.table {
    &__search {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 50px;
        height: 50px;
        color: #fff;
    }
    &__input {
        height: 40px;
        background-color: #1f2a40;
        color: #fff;
        border: #1f2a40;
        outline: none;
    }
    &__button {
        color: #fff;

        flex-basis: 1;
        height: 40px;
        width: 45px;
        background-color: #1f2a40;
        border-radius: 3px;
        border: #1f2a40;
    }
}

.button {
    background: none;
    border: none;
    align-items: center;
    text-align: center;
    &_icon {
        width: 18px;
        height: 18px;
        font-weight: 600;
        color: white;
    }
}
